<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal aukcyjny</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css\main.css" type="text/css" />
    <div th:replace="header :: header-css"/>
    <script>
$(document).on('ready', function() {
    $("#input-b5").fileinput({showCaption: false, dropZoneEnabled: false});
});
</script>
</head>

<body>
<div th:replace="header :: header"/>
<p class="h2 text-center">Wystaw przedmiot</p>

<div class="container ">
    <form th:action="@{/saveAuction}" th:object="${auction}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="error" th:errors="*{title}"></div>
            <label for="title">Tytuł</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" aria-describedby="titleHelp"
                   placeholder="Wpisz tytuł">
            <small id="titleHelp" class="form-text text-muted">Tytuł przedmiotu</small>
        </div>
        <div class="form-group">
            <div class="error" th:errors="*{description}"></div>
            <label for="description">Opis</label>
            <input type="text" class="form-control" id="description" th:field="*{description}" aria-describedby="descriptionHelp"
                   placeholder="Wpisz opis">
            <small id="descriptionHelp" class="form-text text-muted">Opis przedmiotu</small>
        </div>

        <div class="form-group">
            <div class="error" th:errors="*{categoryId}"></div>
            <label for="description">Kategoria</label>
            <select class="form-control" th:field="*{categoryId}"  id="categories" aria-describedby="categories">
                <option value="0">Wybierz kategorię</option>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
            <small id="categoriesHelp" class="form-text text-muted">Kategoria przedmiotu</small>
        </div>

        <div class="form-group" >
            <label for="description">Zdjęcie</label>
            <input type="file" class="form-control" id="picture" th:field="*{picture}" aria-describedby="pictureHelp"
                   placeholder="Podaj zdjęcie" style="box-sizing: content-box;">
        </div>

        <div class="form-group">
            <input type="button" value="Powrót" name="backButton"
                   onClick="javascript:window.location.href='/login'" class="myButton shortButton" >
            <input class = "mySubmitButton" type="submit" value="Zapisz" name="saveButton">
        </div>
    </form>
</div>

</body>
</html>